<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
<img  width="300" src="assets/images/Hda_logo.svg.png">
</div>

<br>
<br>

<div class="sentence">
  <label >sentence:
     <input class="input" [(ngModel)]="inputText" placeholder="put in your sentence"> <button class="btn btn-primary" (click)="send()">GO</button>
  </label>
</div>
<br><br>





<table class="table blueTable">
  <tr>
    <th>#</th>
    <th>Sentence</th>
   <!-- <th>Corporahits</th>-->
    <th>Googlehits</th>
  </tr>
  <tr *ngFor="let sentenceModel of sentenceModels; let i = index">
    <td>{{i + 1}}</td>
    <td>{{sentenceModel.sentence}}</td>
   <!-- <td>{{sentenceModel.corporahits}}</td>-->
    <td>{{sentenceModel.googlehits}}</td>
  </tr>
</table>


